<%- include('_header', { title: 'Página Principal', userName: userName }) %>

<h1 class="mt-4">Página Inicial</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bem-vindo ao Sistema!</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-home me-1"></i>
        Visão Geral do Módulo de Compras
    </div>
    <div class="card-body">
        <p>Utilize o menu lateral para navegar entre os módulos.</p>
    </div>
</div>

<%- include('_footer') %>